:root{
    --primary-font: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
* {
    font-family: var(--primary-font);
}

body{
    background-color: rgb(25, 25, 25);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.15rem;
    padding: 1% 2%;
}

header a, header p {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
    border-radius: 10px;
    padding: .5%;
    text-decoration: none;
    color: #ffff;
}

main{
    border: dashed 1.8px;
    padding: 20px;
    margin: 50px;
    font-size: large;
    border-radius: 15px;
    background-color: #ffff;
}

.content {
    text-align: center;
}

.hide {
    display: none;
}

.quiz {
    font-size: 2rem;
}

.options {
    padding: 15px;
}

.scores {
    text-align: center;
    font-size: 2rem;
}

/* Button CSS */
.btn {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  margin: .5rem;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.btn:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.btn:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}






